*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(241, 5, 5), rgb(229, 233, 16))
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(150px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2.1rem;
    border: 1px solid rgb(146, 15, 15);
    outline: none;
    background-color: rgba(242, 252, 239, 0.75);
}

.calculator-grid>button:hover {
    background-color: rgba(255, 16, 16, 0.8);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/ -1;
    background-color: rgba(27, 27, 29, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 2.5rem;
}

.output .current-operand {
    color: rgb(248, 248, 248);
    font-size: 2.5rem;
}
